:root {
  --clip-triangle-top: polygon(50% 0, 100% 100%, 0 100%);
  --clip-triangle-bottom: polygon(0 0, 100% 0, 50% 100%);
  --clip-triangle-right: polygon(0 0, 100% 50%, 0 100%);
  --clip-triangle-left: polygon(0 50%, 100% 0, 100% 100%);
  --clip-triangle-lower-left: polygon(0 0, 100% 100%, 0 100%);
  --clip-triangle-upper-left: polygon(0 0, 100% 0, 0 100%);
  --clip-triangle-lower-right: polygon(100% 0, 100% 100%, 0 100%);
  --clip-triangle-upper-right: polygon(0 0, 100% 0, 100% 100%);
}

.event-article-area {
  padding: 0 30px;
}
@media screen and (min-width: 920px) {
  .event-article-area {
    max-width: 920px;
    margin: 0 auto;
  }
}
.event-article-area .article-wrap li:nth-child(n+2) {
  margin-top: 50px;
}
@media screen and (min-width: 920px) {
  .event-article-area .article-wrap li:nth-child(n+2) {
    margin-top: 100px;
  }
}
@media screen and (min-width: 768px) {
  .event-article-area .article-wrap li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
  }
}
@media screen and (min-width: 768px) {
  .event-article-area .article-wrap li .img {
    width: 40%;
    margin: 0;
  }
}
.event-article-area .article-wrap li .right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}
@media screen and (min-width: 768px) {
  .event-article-area .article-wrap li .right {
    width: 55%;
  }
}
.event-article-area .article-wrap li .right .text-wrap {
  margin-top: 20px;
}
.event-article-area .article-wrap li .right .text-wrap .ttl {
  font-size: 1.5rem;
  font-family: YuMincho, "Yu Mincho", "Hiragino Mincho ProN", serif;
  text-decoration: underline;
}
@media screen and (min-width: 920px) {
  .event-article-area .article-wrap li .right .text-wrap .ttl {
    font-size: 2rem;
  }
}
.event-article-area .article-wrap li .right .text-wrap .date {
  font-size: 1.3rem;
}
@media screen and (min-width: 920px) {
  .event-article-area .article-wrap li .right .text-wrap .date {
    font-size: 1.6rem;
  }
}
.event-article-area .article-wrap li .right .text-wrap .sentence {
  font-size: 1.3rem;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
}
@media screen and (min-width: 920px) {
  .event-article-area .article-wrap li .right .text-wrap .sentence {
    font-size: 1.6rem;
  }
}
.event-article-area .article-wrap li .right .text-wrap .sentence .sub-ttl {
  font-size: 1.4rem;
  font-weight: bold;
}
@media screen and (min-width: 920px) {
  .event-article-area .article-wrap li .right .text-wrap .sentence .sub-ttl {
    font-size: 1.6rem;
  }
}
.event-article-area .article-wrap li .button-wrap {
  margin-top: 20px;
  -ms-flex-flow: nowrap;
      flex-flow: nowrap;
}
@media screen and (min-width: 768px) {
  .event-article-area .article-wrap li .button-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-flow: row-reverse;
            flex-flow: row-reverse;
    margin-top: 20px;
  }
}
.event-article-area .article-wrap li .button-wrap a {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 48px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #88C4B4;
  color: #fff;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  font-size: 1.3rem;
}
@media screen and (min-width: 768px) {
  .event-article-area .article-wrap li .button-wrap a {
    display: inherit;
    width: inherit;
    border-radius: 100px;
    border: solid 1px #54a37f;
    background-color: #fff;
    color: #54a37f;
  }
  .event-article-area .article-wrap li .button-wrap a:hover::after {
    border-right: 1.5px solid #fff;
    border-bottom: 1.5px solid #fff;
  }
}
.event-article-area .article-wrap li .button-wrap a::after {
  position: absolute;
  content: "";
  border-right: 1.5px solid #fff;
  border-bottom: 1.5px solid #fff;
  top: 51%;
  display: block;
  -webkit-transform: translateY(-50%) rotate(-45deg);
          transform: translateY(-50%) rotate(-45deg);
  -webkit-transition: 0.3s;
  transition: 0.3s;
  width: 10px;
  height: 10px;
  right: 25px;
}
@media screen and (min-width: 768px) {
  .event-article-area .article-wrap li .button-wrap a::after {
    border-right: 1.5px solid #54a37f;
    border-bottom: 1.5px solid #54a37f;
  }
}
@media screen and (min-width: 768px) {
  .event-article-area .article-wrap li .button-wrap a {
    padding: 15px 60px 15px 25px;
    font-size: 1.5rem;
  }
}
.event-article-area .article-wrap li .button-wrap a:hover {
  color: #fff;
  background-color: #54a37f;
}

.event-story-area {
  padding: 50px 30px 0;
  background-color: #AED4CA;
  margin-top: 50px;
}
@media screen and (min-width: 920px) {
  .event-story-area {
    padding: 100px 130px 0;
    margin-top: 100px;
  }
}

.event-story-inner {
  color: #fff;
}
@media screen and (min-width: 768px) {
  .event-story-inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: wrap;
        flex-flow: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    max-width: 1180px;
    margin: 0 auto;
  }
}
.event-story-inner .text-wrap {
  margin-bottom: 20px;
}
@media screen and (min-width: 768px) {
  .event-story-inner .text-wrap {
    width: 50%;
  }
}
@media screen and (min-width: 920px) {
  .event-story-inner .text-wrap {
    width: 40%;
  }
}
.event-story-inner .text-wrap .ttl {
  font-size: 2.3rem;
  font-family: YuMincho, "Yu Mincho", "Hiragino Mincho ProN", serif;
  line-height: 1;
  margin-bottom: 10px;
}
@media screen and (min-width: 920px) {
  .event-story-inner .text-wrap .ttl {
    font-size: 3rem;
  }
}
.event-story-inner .text-wrap p {
  margin-bottom: 20px;
}
.event-story-inner .text-wrap .button-wrap {
  margin-top: 20px;
}
@media screen and (min-width: 768px) {
  .event-story-inner .text-wrap .button-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-flow: row-reverse;
            flex-flow: row-reverse;
    margin-top: 20px;
  }
}
.event-story-inner .text-wrap .button-wrap a {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 48px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #88C4B4;
  color: #fff;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  font-size: 1.3rem;
}
@media screen and (min-width: 768px) {
  .event-story-inner .text-wrap .button-wrap a {
    display: inherit;
    width: inherit;
    border-radius: 100px;
    border: solid 1px #54a37f;
    background-color: #fff;
    color: #54a37f;
  }
  .event-story-inner .text-wrap .button-wrap a:hover::after {
    border-right: 1.5px solid #fff;
    border-bottom: 1.5px solid #fff;
  }
}
.event-story-inner .text-wrap .button-wrap a::after {
  position: absolute;
  content: "";
  border-right: 1.5px solid #fff;
  border-bottom: 1.5px solid #fff;
  top: 51%;
  display: block;
  -webkit-transform: translateY(-50%) rotate(-45deg);
          transform: translateY(-50%) rotate(-45deg);
  -webkit-transition: 0.3s;
  transition: 0.3s;
  width: 10px;
  height: 10px;
  right: 25px;
}
@media screen and (min-width: 768px) {
  .event-story-inner .text-wrap .button-wrap a::after {
    border-right: 1.5px solid #54a37f;
    border-bottom: 1.5px solid #54a37f;
  }
}
@media screen and (min-width: 768px) {
  .event-story-inner .text-wrap .button-wrap a {
    padding: 15px 60px 15px 25px;
    font-size: 1.5rem;
  }
}
.event-story-inner .text-wrap .button-wrap a:hover {
  color: #fff;
  background-color: #54a37f;
}
@media screen and (min-width: 768px) {
  .event-story-inner .img-wrap {
    width: 45%;
    max-width: 450px;
  }
}
.event-story-inner .img-wrap img {
  border-radius: 50vw 50vw 0 0;
}/*# sourceMappingURL=event-program.css.map */