@charset "UTF-8";


@use '../common/css/Component/button';

@mixin ff-jp {
    font-family: YuMincho, "Yu Mincho", "Hiragino Mincho ProN", serif;
}
@mixin ff-en {
    font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}

.event-article-area {
    padding: 0 30px;
    @media screen and (min-width:920px){
        max-width: 920px;
        margin: 0 auto;
    }
    .article-wrap {
        li {
            &:nth-child(n+2) {
                margin-top: 50px;
                @media screen and (min-width:920px){
                    margin-top: 100px;
                }
            }
            @media screen and (min-width:768px){
                display: flex;
                justify-content: space-between;
                width: 100%;
            }
            .img {
                @media screen and (min-width:768px){
                    width: 40%;
                    margin: 0;
                }
                @media screen and (min-width:920px){
                }
            }
            .right {
                display: flex;
                flex-flow: column;
                justify-content: end;
                @media screen and (min-width:768px){
                        width: 55%;
                }
                .text-wrap {
                    margin-top: 20px;
                    .ttl {
                        font-size: 1.5rem;
                        @include ff-jp();
                        text-decoration: underline;
                        @media screen and (min-width:920px){
                            font-size: 2rem;
                        }
                    }
                    .date {
                        font-size: 1.3rem;
                        @media screen and (min-width:920px){
                          font-size: 1.6rem;
                        }
                    }
                    .sentence {
                        font-size: 1.3rem;
                        overflow: hidden;
                        display: -webkit-box;
                        -webkit-box-orient: vertical;
                        -webkit-line-clamp: 4;
                        @media screen and (min-width:920px){
                            font-size: 1.6rem;
                        }
                        .sub-ttl {
                            font-size: 1.4rem;
                            font-weight: bold;
                            @media screen and (min-width:920px){
                                font-size: 1.6rem;
                            }
                        }
                    }
                }
            }
            .button-wrap {
                @include button.btn-read_more;
                flex-flow: nowrap;
            }
        }
    }
}
.event-story-area {
    padding: 50px 30px 0;
    background-color: #AED4CA;
    margin-top: 50px;
    @media screen and (min-width:920px){
        padding: 100px 130px 0;
        margin-top: 100px;
    }
}
.event-story-inner {
    color: #fff;
    @media screen and (min-width:768px){
        display: flex;
        flex-flow: wrap;
        justify-content: space-between;
        max-width: 1180px;
        margin: 0 auto;
    }
    .text-wrap {
        margin-bottom: 20px;
        @media screen and (min-width:768px){
            width: 50%;
        }
        @media screen and (min-width:920px){
            width: 40%;
        }
        .ttl {
            font-size: 2.3rem;
            @include ff-jp();
            line-height: 1;
            margin-bottom: 10px;
            @media screen and (min-width:920px){
                font-size: 3rem;
            }
        }
        p {
            margin-bottom: 20px;
        }
        .button-wrap {
            @include button.btn-read_more;
        }
    }
    .img-wrap {
        @media screen and (min-width:768px){
            width: 45%;
            max-width: 450px;
        }
        @media screen and (min-width:920px){
        }
        img {
            border-radius: 50vw 50vw 0 0;
          }
    }
}