@charset "UTF-8";
@keyframes zoomUp {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.15);
  }
}
.swiper-slide img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  animation: zoomUp 7s linear 0s normal both;
}

main {
  color: #3B453E;
  margin: 0;
}

.attachment {
  position: relative;
}
.attachment::before {
  content: "";
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url(../images/bg_attachment.jpg);
  background-size: cover;
}

.swiper-wrap {
  width: 100%;
  margin-top: 20px;
  position: relative;
  max-width: 450px;
}
.swiper-wrap::before {
  content: "";
  width: 100%;
  display: block;
  padding-top: 100%;
}
@media screen and (min-width: 920px) {
  .swiper-wrap::before {
    padding-top: 120%;
  }
}
@media (orientation: landscape) {
  .swiper-wrap {
    width: 50%;
  }
}
@media screen and (min-width: 920px) {
  .swiper-wrap {
    max-width: none;
    width: 50%;
  }
}
@media screen and (min-width: 1280px) {
  .swiper-wrap {
    width: 50%;
    margin: 0;
  }
}

.swiper {
  top: 0;
  left: 0;
  border-radius: 50vw 50vw 0 0;
  width: 100%;
  height: 100%;
}

@media screen and (min-width: 1280px) {
  .swiper-slide img {
    width: 100%;
  }
}

#fv {
  margin: 0;
  height: 100vh;
  box-sizing: border-box;
  position: relative;
}
@media screen and (min-width: 920px) {
  #fv {
    align-items: inherit;
  }
}
@media screen and (min-width: 1280px) {
  #fv {
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;
  }
}

.fv-wrap {
  position: absolute;
  z-index: 2;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 85%;
  height: 100%;
}
@media (orientation: landscape) {
  .fv-wrap {
    align-items: center;
    display: flex;
    justify-content: space-between;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
  }
}
@media screen and (min-width: 768px) {
  .fv-wrap {
    width: 80%;
  }
}
@media screen and (min-width: 920px) {
  .fv-wrap {
    align-items: center;
    display: flex;
    justify-content: space-between;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
@media (orientation: landscape) {
  .fv-text-wrap {
    width: 48%;
  }
}
@media screen and (min-width: 920px) {
  .fv-text-wrap {
    display: flex;
    flex-flow: column;
    justify-content: center;
  }
}
@media screen and (min-width: 920px) and (min-width: 1280px) {
  .fv-text-wrap {
    width: 50%;
    display: block;
    margin-bottom: 50px;
  }
}
.fv-text-wrap h1 {
  font-family: YuMincho, "Yu Mincho", "Hiragino Mincho ProN", serif;
  font-size: 9vw;
  line-height: 1.2;
}
@media (orientation: landscape) {
  .fv-text-wrap h1 {
    font-size: 4vw;
  }
}
@media screen and (min-width: 768px) {
  .fv-text-wrap h1 {
    font-size: 5vw;
  }
}
@media screen and (min-width: 920px) {
  .fv-text-wrap h1 {
    font-size: 3.5vw;
  }
}
.fv-text-wrap h1 span {
  font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  font-size: 4vw;
  font-weight: 600;
  line-height: 1;
}
@media (orientation: landscape) {
  .fv-text-wrap h1 span {
    font-size: 1.8vw;
  }
}
@media screen and (min-width: 768px) {
  .fv-text-wrap h1 span {
    font-size: 2.4vw;
  }
}
@media screen and (min-width: 920px) {
  .fv-text-wrap h1 span {
    font-size: 1.5vw;
  }
}
.fv-text-wrap h2 {
  font-family: YuMincho, "Yu Mincho", "Hiragino Mincho ProN", serif;
  font-size: 4.8vw;
  line-height: 1;
  margin-top: 10px;
  line-height: 1.5;
}
@media (orientation: landscape) {
  .fv-text-wrap h2 {
    font-size: 2vw;
  }
}
@media screen and (min-width: 768px) {
  .fv-text-wrap h2 {
    font-size: 2.3vw;
  }
}
@media screen and (min-width: 920px) {
  .fv-text-wrap h2 {
    font-size: 1.5vw;
    margin: 5% 0 0 0;
    margin-top: 30px;
  }
}
.fv-text-wrap p {
  font-size: 13px;
  margin: 10px 0 0 0;
  text-align: justify;
  line-height: 2;
}
@media screen and (min-width: 768px) {
  .fv-text-wrap p {
    font-size: 1.5vw;
  }
}
@media screen and (min-width: 920px) {
  .fv-text-wrap p {
    font-size: 1.2vw;
  }
}
@media screen and (min-width: 1280px) {
  .fv-text-wrap p {
    font-size: 1vw;
  }
}

@keyframes zoomUp {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.15); /* 拡大率 */
  }
}
.add-animation {
  animation: zoomUp 10s linear 0s normal both;
}

.button-wrap {
  display: flex;
  flex-flow: row-reverse;
  margin-top: 20px;
}
@media screen and (min-width: 768px) {
  .button-wrap {
    margin-top: 50px;
  }
}
@media screen and (min-width: 920px) {
  .button-wrap {
    margin-top: 30px;
  }
}
.button-wrap a {
  padding: 10px 25px;
  border-radius: 100px;
  border: solid 1px #54A35D;
  background-color: #fff;
  color: #54A35D;
  transition: 0.3s;
  font-size: 13px;
}
@media screen and (min-width: 768px) {
  .button-wrap a {
    padding: 15px 40px;
    font-size: 15px;
  }
}
.button-wrap a:hover {
  color: #fff;
  background-color: #54A35D;
}

@media screen and (min-width: 768px) {
  .report-wrap .button-wrap {
    margin: 0;
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

#event-wrap {
  margin-top: 50px;
  background-color: rgba(255, 255, 255, 0.7);
  padding: 50px 30px;
  border-radius: 70px;
  display: flex;
  flex-flow: column;
}
@media screen and (min-width: 768px) {
  #event-wrap {
    margin-top: 150px;
  }
}
@media screen and (min-width: 768px) {
  #event-wrap {
    padding: 100px 80px;
    border-radius: 190px;
  }
}
@media screen and (min-width: 920px) {
  #event-wrap {
    padding: 100px 130px;
  }
}
@media screen and (min-width: 1280px) {
  #event-wrap {
    padding: 9%;
  }
}
@media screen and (min-width: 768px) {
  #event-wrap .ttl-contents-wrap {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
  }
}
@media screen and (min-width: 920px) {
  #event-wrap .ttl-contents-wrap {
    margin-top: 30px;
    width: 100%;
  }
}
@media screen and (min-width: 1280px) {
  #event-wrap .ttl-contents-wrap {
    flex-flow: row-reverse;
  }
}
@media screen and (min-width: 920px) {
  #event-wrap .ttl-wrap {
    width: 100%;
  }
}
@media screen and (min-width: 1280px) {
  #event-wrap .ttl-wrap {
    width: 45%;
  }
}
#event-wrap .en-ttl {
  color: #54A35D;
  font-size: 15px;
  line-height: 1;
}
@media screen and (min-width: 768px) {
  #event-wrap .en-ttl {
    font-size: 18px;
  }
}
@media screen and (min-width: 920px) {
  #event-wrap .en-ttl {
    font-size: 20px;
  }
}
#event-wrap .contents-ttl {
  font-family: YuMincho, "Yu Mincho", "Hiragino Mincho ProN", serif;
  line-height: 1;
  margin-top: 5px;
  font-size: 30px;
}
@media screen and (min-width: 920px) {
  #event-wrap .contents-ttl {
    margin-top: 10px;
    font-size: 33px;
  }
}
@media screen and (min-width: 1280px) {
  #event-wrap .contents-ttl {
    font-size: 40px;
  }
}
#event-wrap .lead {
  font-size: 15px;
  margin-top: 10px;
  font-family: YuMincho, "Yu Mincho", "Hiragino Mincho ProN", serif;
}
@media screen and (min-width: 768px) {
  #event-wrap .lead {
    font-size: 18px;
  }
}
@media screen and (min-width: 920px) {
  #event-wrap .lead {
    margin-top: 15px;
    font-size: 20px;
  }
}
@media screen and (min-width: 768px) {
  #event-wrap .contents-wrap {
    display: flex;
    flex-flow: column;
    align-items: end;
  }
}
@media screen and (min-width: 920px) {
  #event-wrap .contents-wrap {
    display: flex;
    flex-flow: wrap;
    align-items: end;
    margin-top: 50px;
  }
}
@media screen and (min-width: 920px) and (min-width: 1280px) {
  #event-wrap .contents-wrap {
    margin: 0;
    width: 50%;
  }
}
#event-wrap .contents-wrap .content-wrap {
  margin: 50px 50px 0;
}
@media screen and (min-width: 768px) {
  #event-wrap .contents-wrap .content-wrap {
    max-width: inherit;
    margin: 50px 0 0;
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;
    align-items: center;
  }
}
@media screen and (min-width: 920px) {
  #event-wrap .contents-wrap .content-wrap {
    margin: 0;
    flex-flow: initial;
  }
}
@media screen and (min-width: 1280px) {
  #event-wrap .contents-wrap .content-wrap {
    align-items: end;
  }
}
@media screen and (min-width: 768px) {
  #event-wrap .contents-wrap .content-wrap .event-img {
    width: 300px;
  }
}
@media screen and (min-width: 768px) {
  #event-wrap .contents-wrap .content-wrap .event-text-button-wrap {
    margin-left: 30px;
  }
}
#event-wrap .contents-wrap .content-wrap .text-wrap {
  margin: 10px 0;
}
#event-wrap .contents-wrap .content-wrap .text-wrap p {
  font-size: 14px;
}
@media screen and (min-width: 920px) {
  #event-wrap .contents-wrap .content-wrap .text-wrap p {
    font-size: 15px;
    margin: 0;
  }
}
@media screen and (min-width: 1280px) {
  #event-wrap .contents-wrap .content-wrap .text-wrap p {
    font-size: 16px;
    margin: 0;
  }
}
#event-wrap .contents-wrap .content-wrap .text-wrap p span {
  font-size: 16px;
  font-family: YuMincho, "Yu Mincho", "Hiragino Mincho ProN", serif;
  text-decoration: underline;
}
@media screen and (min-width: 768px) {
  #event-wrap .contents-wrap .content-wrap .text-wrap p span {
    font-size: 18px;
  }
}
#event-wrap .contents-wrap .content02-wrap {
  margin-top: 50px;
}
#event-wrap .report-wrap {
  padding: 20px 50px;
  margin: 50px 0 20px;
  border-bottom: solid 1px #A1DEB9;
  border-top: solid 1px #A1DEB9;
}
@media screen and (min-width: 768px) {
  #event-wrap .report-wrap {
    padding: 20px 0;
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;
  }
}
@media screen and (min-width: 920px) {
  #event-wrap .report-wrap {
    padding: 30px 30px;
  }
}
@media screen and (min-width: 1280px) {
  #event-wrap .report-wrap {
    margin: 100px 150px 0;
  }
}
#event-wrap .report-wrap .text-wrap h3 {
  font-family: YuMincho, "Yu Mincho", "Hiragino Mincho ProN", serif;
  font-size: 20px;
  line-height: 1;
}
@media screen and (min-width: 768px) {
  #event-wrap .report-wrap .text-wrap h3 {
    font-size: 23px;
  }
}
@media screen and (min-width: 920px) {
  #event-wrap .report-wrap .text-wrap h3 {
    font-size: 25px;
  }
}
#event-wrap .report-wrap .text-wrap p {
  margin-top: 10px;
  font-size: 14px;
}
@media screen and (min-width: 768px) {
  #event-wrap .report-wrap .text-wrap p {
    font-size: 15px;
  }
}
@media screen and (min-width: 1280px) {
  #event-wrap .report-wrap .text-wrap p {
    font-size: 16px;
  }
}

#menu-wrap {
  margin: 50px 30px 0;
}
@media screen and (min-width: 768px) {
  #menu-wrap {
    margin: 150px 80px 0;
  }
}
@media screen and (min-width: 920px) {
  #menu-wrap {
    margin: 150px 130px 0;
  }
}
@media screen and (min-width: 1280px) {
  #menu-wrap {
    margin: 150px 200px 0;
  }
}
#menu-wrap .en-ttl {
  color: #54A35D;
  font-size: 15px;
  line-height: 1;
}
@media screen and (min-width: 768px) {
  #menu-wrap .en-ttl {
    font-size: 18px;
  }
}
@media screen and (min-width: 920px) {
  #menu-wrap .en-ttl {
    font-size: 20px;
  }
}
#menu-wrap .contents-ttl {
  font-family: YuMincho, "Yu Mincho", "Hiragino Mincho ProN", serif;
  line-height: 1;
  margin-top: 5px;
  font-size: 30px;
}
@media screen and (min-width: 920px) {
  #menu-wrap .contents-ttl {
    margin-top: 10px;
    font-size: 33px;
  }
}
@media screen and (min-width: 1280px) {
  #menu-wrap .contents-ttl {
    font-size: 40px;
  }
}
#menu-wrap .ttl-wrap {
  text-align: center;
}
@media screen and (min-width: 1280px) {
  #menu-wrap .ttl-wrap {
    font-size: 33px;
  }
}
#menu-wrap h3 {
  font-size: 23px;
  font-family: YuMincho, "Yu Mincho", "Hiragino Mincho ProN", serif;
  line-height: 1.3;
}
@media screen and (min-width: 768px) {
  #menu-wrap h3 {
    font-size: 28px;
  }
}
@media screen and (min-width: 1280px) {
  #menu-wrap h3 {
    font-size: 30px;
  }
}
#menu-wrap h3 span {
  font-size: 14px;
}
@media screen and (min-width: 768px) {
  #menu-wrap h3 span {
    font-size: 15px;
  }
}
@media screen and (min-width: 1280px) {
  #menu-wrap h3 span {
    font-size: 18px;
  }
}
#menu-wrap p {
  font-size: 14px;
  margin-top: 20px;
}
@media screen and (min-width: 768px) {
  #menu-wrap p {
    font-size: 15px;
  }
}
@media screen and (min-width: 920px) {
  #menu-wrap p {
    font-size: 16px;
  }
}
#menu-wrap .content-wrap {
  margin-top: 50px;
  padding-bottom: 50px;
}
@media screen and (min-width: 768px) {
  #menu-wrap .content-wrap {
    margin-top: 80px;
    padding-bottom: 80px;
  }
}
@media screen and (min-width: 920px) {
  #menu-wrap .content-wrap {
    width: 100%;
  }
}
#menu-wrap .content-wrap:not(:last-child) {
  border-bottom: 2px dotted #8BBE8E;
}
#menu-wrap .content-wrap:nth-child(3) {
  display: flex;
  flex-flow: row-reverse;
}
#menu-wrap .content-ttl-wrap {
  margin-top: 30px;
}
@media screen and (min-width: 920px) {
  #menu-wrap .content-ttl-wrap {
    margin: 0;
  }
}
#menu-wrap .content-wrap-a {
  position: relative;
  width: 100%;
}
@media screen and (min-width: 768px) {
  #menu-wrap .content-wrap-a {
    width: 80%;
  }
}
@media screen and (min-width: 920px) {
  #menu-wrap .content-wrap-a {
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;
    width: 100%;
  }
}
#menu-wrap .content-wrap-a .menu-img-wrap-a {
  width: 100%;
  position: relative;
}
@media screen and (min-width: 920px) {
  #menu-wrap .content-wrap-a .menu-img-wrap-a {
    width: 45%;
  }
}
@media screen and (min-width: 1280px) {
  #menu-wrap .content-wrap-a .menu-img-wrap-a {
    width: 40%;
  }
}
#menu-wrap .content-wrap-a .menu-img-wrap-a .bg-wrap {
  width: 60%;
}
@media screen and (min-width: 768px) {
  #menu-wrap .content-wrap-a .menu-img-wrap-a .bg-wrap {
    width: 55%;
  }
}
@media screen and (min-width: 920px) {
  #menu-wrap .content-wrap-a .menu-img-wrap-a .bg-wrap {
    width: 65%;
  }
}
#menu-wrap .content-wrap-a .menu-img-wrap-a .bg-wrap .bg {
  border-radius: 300px 300px 0 0;
}
#menu-wrap .content-wrap-a .menu-img-wrap-a .menu-img-a {
  position: absolute;
  top: 60px;
  width: 85%;
  right: 0;
}
@media screen and (min-width: 1280px) {
  #menu-wrap .content-wrap-a .menu-img-wrap-a .menu-img-a {
    top: 90px;
  }
}
@media screen and (min-width: 1480px) {
  #menu-wrap .content-wrap-a .menu-img-wrap-a .menu-img-a {
    top: 120px;
  }
}
@media screen and (min-width: 920px) {
  #menu-wrap .content-wrap-a .text-button-wrap {
    display: flex;
    flex-flow: column;
    justify-content: center;
    width: 45%;
  }
}
#menu-wrap .content-wrap-b {
  position: relative;
  width: 100%;
}
@media screen and (min-width: 768px) {
  #menu-wrap .content-wrap-b {
    width: 80%;
  }
}
@media screen and (min-width: 920px) {
  #menu-wrap .content-wrap-b {
    display: flex;
    flex-flow: row-reverse;
    justify-content: space-between;
    width: 100%;
  }
}
#menu-wrap .content-wrap-b .menu-img-wrap-b {
  display: flex;
  flex-flow: row-reverse;
  position: relative;
}
@media screen and (min-width: 920px) {
  #menu-wrap .content-wrap-b .menu-img-wrap-b {
    width: 45%;
  }
}
#menu-wrap .content-wrap-b .menu-img-wrap-b .bg-wrap {
  width: 60%;
}
@media screen and (min-width: 768px) {
  #menu-wrap .content-wrap-b .menu-img-wrap-b .bg-wrap {
    width: 55%;
  }
}
@media screen and (min-width: 920px) {
  #menu-wrap .content-wrap-b .menu-img-wrap-b .bg-wrap {
    width: 63%;
  }
}
#menu-wrap .content-wrap-b .menu-img-wrap-b .bg-wrap .bg {
  border-radius: 300px 300px 0 0;
}
#menu-wrap .content-wrap-b .menu-img-wrap-b .menu-img-b {
  position: absolute;
  top: 60px;
  width: 85%;
  left: 0;
}
@media screen and (min-width: 1280px) {
  #menu-wrap .content-wrap-b .menu-img-wrap-b .menu-img-b {
    top: 90px;
  }
}
@media screen and (min-width: 1480px) {
  #menu-wrap .content-wrap-b .menu-img-wrap-b .menu-img-b {
    top: 120px;
  }
}
@media screen and (min-width: 920px) {
  #menu-wrap .content-wrap-b .text-button-wrap {
    width: 45%;
    display: flex;
    flex-flow: column;
    justify-content: center;
  }
}

#about-wrap {
  background: linear-gradient(rgba(0, 4, 4, 0), #9eccbb 30% 80%, rgba(4, 4, 4, 0));
  padding: 50px 30px;
}
@media screen and (min-width: 768px) {
  #about-wrap {
    padding: 100px 80px 50px;
  }
}
@media screen and (min-width: 920px) {
  #about-wrap {
    padding: 150px 130px;
  }
}
@media screen and (min-width: 1280px) {
  #about-wrap {
    padding: 150px 18%;
  }
}
#about-wrap .en-ttl {
  color: #54A35D;
  font-size: 15px;
  line-height: 1;
}
@media screen and (min-width: 768px) {
  #about-wrap .en-ttl {
    font-size: 18px;
  }
}
@media screen and (min-width: 920px) {
  #about-wrap .en-ttl {
    font-size: 20px;
  }
}
#about-wrap .contents-ttl {
  font-family: YuMincho, "Yu Mincho", "Hiragino Mincho ProN", serif;
  line-height: 1;
  margin-top: 5px;
  font-size: 30px;
}
@media screen and (min-width: 920px) {
  #about-wrap .contents-ttl {
    margin-top: 10px;
    font-size: 33px;
  }
}
@media screen and (min-width: 1280px) {
  #about-wrap .contents-ttl {
    font-size: 40px;
  }
}
#about-wrap .lead {
  font-size: 15px;
  margin-top: 10px;
  font-family: YuMincho, "Yu Mincho", "Hiragino Mincho ProN", serif;
}
@media screen and (min-width: 768px) {
  #about-wrap .lead {
    font-size: 18px;
  }
}
@media screen and (min-width: 920px) {
  #about-wrap .lead {
    margin-top: 15px;
    font-size: 20px;
  }
}
#about-wrap .content-wrap {
  margin: 50px 50px 0;
}
@media screen and (min-width: 768px) {
  #about-wrap .content-wrap {
    margin: 80px 0;
    display: flex;
    justify-content: space-between;
  }
}
@media screen and (min-width: 768px) {
  #about-wrap .content-wrap .about-img-wrap {
    width: 40%;
  }
}
@media screen and (min-width: 920px) {
  #about-wrap .content-wrap .about-img-wrap {
    width: 300px;
  }
}
@media screen and (min-width: 1280px) {
  #about-wrap .content-wrap .about-img-wrap {
    width: 350px;
  }
}
#about-wrap .content-wrap .text-wrap {
  margin-top: 20px;
}
@media screen and (min-width: 768px) {
  #about-wrap .content-wrap .text-wrap {
    margin-top: 0;
  }
}
#about-wrap .content-wrap .text-wrap .about-content-ttl {
  font-size: 18px;
}
@media screen and (min-width: 768px) {
  #about-wrap .content-wrap .text-wrap .about-content-ttl {
    font-size: 20px;
  }
}
@media screen and (min-width: 1280px) {
  #about-wrap .content-wrap .text-wrap .about-content-ttl {
    font-size: 25px;
  }
}
#about-wrap .content-wrap .text-wrap p {
  font-size: 14px;
}
@media screen and (min-width: 920px) {
  #about-wrap .content-wrap .text-wrap p {
    margin-top: 10px;
    font-size: 15px;
  }
}
@media screen and (min-width: 1280px) {
  #about-wrap .content-wrap .text-wrap p {
    font-size: 16px;
  }
}
@media screen and (min-width: 768px) {
  #about-wrap .content-wrap .text-button-wrap {
    width: 55%;
    display: flex;
    flex-flow: column;
    justify-content: end;
  }
}
@media screen and (min-width: 920px) {
  #about-wrap .content-wrap .text-button-wrap {
    width: 50%;
  }
}

#contact-button-wrap {
  position: relative;
  margin-top: 50px;
}
@media screen and (min-width: 768px) {
  #contact-button-wrap {
    margin-top: 150px;
  }
}
@media screen and (min-width: 920px) {
  #contact-button-wrap {
    margin: 0;
  }
}
#contact-button-wrap a {
  font-size: 14px;
  padding: 30px 80px 30px 50px;
  background-image: url(../images/contact-bg-sp.jpg);
  color: #fff;
  position: absolute;
  border-radius: 0 90px 90px 0;
  background-size: cover;
  transition: 0.3s;
}
#contact-button-wrap a:hover {
  opacity: 0.7;
}
@media screen and (min-width: 768px) {
  #contact-button-wrap a {
    padding: 7% 20% 7% 16%;
    border-radius: 0 120px 120px 0;
    background-size: cover;
    font-size: 16px;
  }
}
@media screen and (min-width: 920px) {
  #contact-button-wrap a {
    border-radius: 0 200px 200px 0;
  }
}
#contact-button-wrap a h3 {
  text-decoration: underline;
  font-family: YuMincho, "Yu Mincho", "Hiragino Mincho ProN", serif;
}
@media screen and (min-width: 768px) {
  #contact-button-wrap a h3 {
    font-size: 23px;
  }
}
@media screen and (min-width: 920px) {
  #contact-button-wrap a h3 {
    font-size: 26px;
  }
}
#contact-button-wrap a span {
  font-size: 15px;
  font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}
@media screen and (min-width: 768px) {
  #contact-button-wrap a span {
    font-size: 20px;
  }
}
@media screen and (min-width: 920px) {
  #contact-button-wrap a span {
    font-size: 23px;
  }
}/*# sourceMappingURL=front-page.css.map */