/* Slider */

.slick-slider {
    position: relative;
    display: block;
    box-sizing: border-box;
    user-select: none;
    touch-action: pan-y;
    margin-top: 20px;
    @media screen and (min-width:920px){
        // width: 50%;
        // margin: 0;
        // display: flex;
        // flex-flow: column-reverse;
    }
    @media screen and (min-width:1280px){
    }
  }
.slick-list {
    position: relative;
    overflow: hidden;
    display: block;
    margin: 0;
    padding: 0;
    border-radius: 50vw 50vw 0 0;
    @media screen and (min-width:920px){
    }
    @media screen and (min-width:1280px){
    }
    &:focus {
        outline: none;
    }

    &.dragging {
        cursor: pointer;
        cursor: hand;
    }
}
.slick-slider .slick-list {
  transform: translate3d(0, 0, 0);
}
.slick-slide {
    @media screen and (min-width:920px){
      
    }
}
.slider {
    margin-inline: auto;
    overflow: hidden;
    width: 100%;
    left: 0;
    z-index: 1;
    // height: calc(100% - 7vw);
    bottom: 0;
    @media screen and (min-width:768px){
        border-radius: 500px 500px 0 0;
    }
    @media screen and (min-width:1280px){
        width: 50%;
        margin: 0;
        display: flex;
        flex-flow: column-reverse;
        height: calc(100vh - 180px);
    }
}
.slick-img img {
    width: 120%;
    @media screen and (min-width:768px){
        width: 100%;
    }
    @media screen and (min-width:920px){
    }
    @media screen and (min-width:1280px){
    }
}
.slick-track {
    position: relative;
    left: 0;
    top: 0;
    display: block;
    margin-left: auto;
    margin-right: auto;

    &:before,
    &:after {
        content: "";
        display: table;
    }

    &:after {
        clear: both;
    }

    .slick-loading & {
        visibility: hidden;
    }
}
.slick-slide {
    float: left;
    height: 100%;
    min-height: 1px;
    [dir="rtl"] & {
        float: right;
    }
    img {
        display: block;
        @media screen and (min-width:1280px){
        }
       
    }
    &.slick-loading img {
        display: none;
    }

    display: none;

    &.dragging img {
        pointer-events: none;
    }

    .slick-initialized & {
        display: block;
    }

    .slick-loading & {
        visibility: hidden;
    }

    .slick-vertical & {
        display: block;
        height: auto;
        border: 1px solid transparent;
    }
}
.slick-arrow.slick-hidden {
    display: none;
}
