@use "../../global" as *;
.link_btn{
    padding: 0 15px 0;
    margin-bottom: 60px;
    .link_btn_inner {
        display: flex;
        flex-flow: column;
        justify-content: flex-start;
        align-items: center;
        li {
            margin: 0 auto 30px;
            .link_btn_inner_link{
                width: 320px;
                height: 60px;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 10px;
                color: #fff;
                background-color: blue;
                font-size: 1.8rem;
                line-height: 1.2;
                position: relative;
                overflow: hidden;
                border: 1px solid blue;
                text-decoration: none;
                transition: color 0.3s;
                span {
                    z-index: 2;
                }
                &::after {
                    position: absolute;
                    display: block;
                    content: "";
                    width: 12px;
                    height: 12px;
                    border-right: 2px solid #fff;
                    border-bottom: 2px solid #fff;
                    transform: translateY(-50%) rotate(-45deg);
                    top: 50%;
                    right: 35px;
                    transform-origin: center;
                    transition: border, right 0.3s;
                    z-index: 2;
                }
                &::before {
                    content: "";
                    width: 105%;
                    height: 105%;
                    background-color: #fff;
                    z-index: 1;
                    left: -2.5%;
                    transform: scaleX(0);
                    transform-origin: right;
                    transition: transform 0.3s;
                    top: -2.5%;
                    position: absolute;
                }
                &:hover{
                    color: blue;
                    transition: color 0.3s;
                    &::after {
                        position: absolute;
                        display: block;
                        content: "";
                        width: 12px;
                        height: 12px;
                        border-right: 2px solid blue;
                        border-bottom: 2px solid blue;
                        transform: translateY(-50%) rotate(-45deg);
                        top: 50%;
                        right: 35px;
                        transform-origin: center;
                        transition: border, right 0.3s;
                        z-index: 2;
                    }
                    &::before {
                        content: "";
                        width: 105%;
                        height: 105%;
                        background-color: #fff;
                        z-index: 1;
                        left: -2.5%;
                        transform: scaleX(1);
                        transform-origin: left;
                        transition: transform 0.3s;
                        top: -2.5%;
                        position: absolute;
                      }
                }
            }
            &:last-child{
                margin: 0 auto;
            }
          }
      }
      @media screen and (min-width:768px){
        padding: 0 30px 0;
        margin-bottom: 60px;
        .link_btn_inner {
            display: flex;
            flex-flow: column;
            justify-content: flex-start;
            align-items: center;
            li {
                margin: 0 auto 30px;
                .link_btn_inner_link{
                    width: 320px;
                    height: 80px;
                    display: flex;
                    justify-content: cenfter;
                    align-items: center;
                    border-radius: 10px;
                    color: #fff;
                    background-color: blue;
                    font-size: 2rem;
                    line-height: 1.2;
                }
                &:last-child{
                    margin: 0 auto;
                }
            }
        }
      }
      @media screen and (min-width:920px){
            padding: 0 60px 0;
            margin-bottom: 100px;
            .link_btn_inner {
                display: flex;
                flex-flow: row nowrap;
                justify-content: space-between;
                align-items: center;
                max-width: 1100px;
                margin: 0 auto;
                li {
                    margin: 0;
                    width: 31%;
                    .link_btn_inner_link{
                        justify-content: center;
                        align-items: center;
                        width: 100%;
                    }
                    &:last-child{
                        margin: 0;
                    }
                  }
            }
      }
}


@mixin btn-read_more($base-margin:20px) {
    margin-top: $base-margin;
    @media screen and (min-width:768px){
        display: flex;
        flex-flow: row-reverse;
        margin-top: $base-margin;
    }
    @media screen and (min-width:920px){
        
    }
    a {
        position: relative;
        display: flex;
        height: 48px;
        justify-content: center;
        align-items: center;
        background-color: #88C4B4;
        color: #fff;
        transition: .3s;
        font-size: 1.3rem;
        @media screen and (min-width:768px){
            display: inherit;
            width: inherit;
            height: auto;
            border-radius: 100px;
            border: solid 1px #54a37f;
            background-color: #fff;
            color: #54a37f;
            &:hover::after {
                border-right: 1.5px solid #fff;
                border-bottom: 1.5px solid #fff;
            }
        }
        &::after {
            position: absolute;
            content: "";
            border-right: 1.5px solid #fff;
            border-bottom: 1.5px solid #fff;
            top: 51%;
            display: block;
            transform: translateY(-50%) rotate(-45deg);
            transition: 0.3s;
            width: 10px;
            height: 10px;
            right: 25px;
            @media screen and (min-width:768px){
                border-right: 1.5px solid #54a37f;
                border-bottom: 1.5px solid #54a37f;
            }
        }
        @media screen and (min-width:768px){
            padding: 15px 60px 15px 25px;
            font-size: 1.5rem;
        }
        @media screen and (min-width:920px){
        }
        &:hover {
            color: #fff;
            background-color: #54a37f;
        }
    }
}

@mixin btn-read_more2 {
    background-color: #88C4B4;
    display: flex;
    height: 100%;
    width: 100%;
    font-size: 1.3rem;
    justify-content: center;
    align-items: center;
    padding: 4vw 10vw 4vw 4vw;
    border-radius: 30vw;
    position: relative;
    color: #fff;
    @media screen and (min-width:768px){
        padding: 2vw 5vw 2vw 2vw;
        font-size: 1.6rem;
    }
    @media screen and (min-width:920px){
        padding: 1.5vw 5vw 1.5vw 1.5vw;
        font-size: 1.6rem;
    }
    &::after {
        position: absolute;
        content: "";
        border-right: 2px solid #fff;
        border-bottom: 2px solid #fff;
        top: 51%;
        display: block;
        -webkit-transform: translateY(-50%) rotate(-45deg);
        transform: translateY(-50%) rotate(-45deg);
        -webkit-transition: 0.3s;
        transition: 0.3s;
        width: 10px;
        height: 10px;
        right: 25px;
        @media screen and (min-width:768px){
            width: 16px;
            height: 16px;
            right: 40px;
        }
    }
}