
@use "../global" as *;
@use "../object" as *;
@use "../../common/css/layout" as *;
@use '../../common/css/layout/mixin';




#about-us {
    .top-description-area {
        padding: 0 20px;
        @include mq (md) {
        }
    }
    .sub-description-area {
        padding: 0 20px;
        li {
            margin-top: 32px;
        }
        .text-wrap {
            margin-top: 12px;
        }
        h4 {
            font-size: 24px;
            @include mixin.ff-jp();
        }
          
    }
    
    .img-wrap {
        margin-top: 20px;
        display: flex;
        flex-flow: wrap;
        justify-content: space-between;
        li {
            width: 49%;
        }
        li:nth-child(n+3) {
            margin-top: 2%;
        }
    }
}
