@charset "UTF-8";

@use "../../common/css/component" as *;
@use "../../common/css/layout" as *;
@use '../../common/css/component/button';
@use '../../common/css/layout/mixin';


#about-channeling {
    background-image: url(../images/event-program/bg-object.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position-y: top;
    padding-top: 150px;
    @media screen and (min-width:768px){
        background-size: 80%;
        background-position-x: right;
    }
    @media screen and (min-width:920px){
        background-size: 60%;
        background-position-x: right;
    }
    .sentence-link {
        @include mixin.sentence-link();
    }
    .lead-area {
        padding: 0;
    }
    .visual-lead-area {
        border-bottom: solid 1px #D8E8DA;
        padding-bottom: 30px;
        margin: 0 15px;
        @media screen and (min-width:768px){
            padding-bottom: 100px;
        }
    }
}
