
@use "../global" as *;
@use "../object" as *;
@use "../../common/css/layout" as *;




#about-us {
    .top-description-area {
        padding: 0 20px;
        @include mq (md) {
        }
    }
    
    .img-wrap {
        margin-top: 20px;
        display: flex;
        flex-flow: wrap;
        justify-content: space-between;
        li {
            width: 49%;
        }
        li:nth-child(n+3) {
            margin-top: 2%;
        }
    }
}
