
@use "../global" as *;
@use "../object" as *;
@use "../../common/css/layout" as *;




#channeling-message {
    .lead-area {
        margin: 120px auto 0;
        @media screen and (min-width:768px){
            text-align: center;
        }
        @media screen and (min-width:920px){
            @include max-width-920;
            margin: 160px auto 120px;
            
        }
    }
    .contents-area {
        @include max-width-920;
        margin: 64px auto;
        padding: 0 24px;
    }

    
}
.channeling-message-inner {
    ol {
        li {
            list-style-type: decimal;
            margin-left: 24px;
            &::marker {
                list-style-type: decimal;
                font-size: 1.6rem;
                font-weight: bold;
                @media screen and (min-width:920px){
                    font-size: 1.8rem;
                }
              }
              &:not(:first-child) {
                margin-top: 32px;
                @media screen and (min-width:920px){
                    margin-top: 96px;
                }
              }
        }
    }
    h4 {
        font-size: 1.6rem;
        font-weight: bold;
        @media screen and (min-width:920px){
            font-size: 1.8rem;
        }
    }
    p {
        margin-top: 12px;
        text-align: justify;
        @media screen and (min-width:920px){
            margin-top: 24px;
        }
    }
    .box {
        padding: 32px;
        background-color: #EBFFF2;
        margin-top: 32px;
        @media screen and (min-width:920px){
            margin-top: 96px;
            padding: 80px;
        }
    }
    img {
        margin-top: 16px;
        @media screen and (min-width:920px) {
            margin-top: 64px;
        }
    }
}