
@use "../global" as *;
@use "../object" as *;
@use "../../common/css/layout" as *;
@use '../object/project/secondHierarchy-area';




#channeling-dialogue {
    background-image: url(../images/event-program/bg-object.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position-y: top;
    padding-top: 150px;
    @media screen and (min-width:768px){
        background-size: 80%;
        background-position-x: right;
    }
    @media screen and (min-width:920px){
        background-size: 60%;
        background-position-x: right;
    }
    .sentence-link {
        @include sentence-link();
    }
    .lead-area {
        padding: 0;
    }
    .visual-lead-area {
        border-bottom: solid 1px #D8E8DA;
        padding-bottom: 30px;
        margin: 0 15px;
        @media screen and (min-width:768px){
            padding-bottom: 100px;
        }
    }
    .comment {
        @include max-width-1200;
        padding: 20px 24px;
        position: relative;
        padding-top: 20px;
        &::before {
            position: absolute;
            display: block;
            content: "";
            background-image: url(../common/images/ornament01.png);
            background-repeat: no-repeat;
            width: 100%;
            height: 15px;
            top: 0;
            left: 0;
            background-size: contain;
            background-position-x: right;
            background-position-x: center;
            @media screen and (min-width:920px){
                background-position-x: revert;
                left: 25px;
            }
        }
    }
    .red {
        margin-top: 12px;
        display: block;
    }
    .box {
        ul {
            list-style: disc;
            margin-left: 12px;
            li {
                @include fz-p;
                margin-top: 12px;
                
            }
        }
    }
    .price-box {
        @media screen and (min-width:920px){
            flex-flow: column;
        }
        ul {
            list-style: none;
            margin-left: 0;
        }
        .button-wrap {
            @media screen and (min-width:920px){
                margin: 32px 0 auto;
            }
        }
    }
    .michael-comment {
        padding: 32px;
        background-color: #fff;
        margin: 32px 0;
        b {
            font-size: 1.4rem;
            @media screen and (min-width:920px){
                font-size: 1.7rem;
            }
        }
        p {
            margin-top: 8px;
        }
    }
    h5 {
        font-size: 1.6rem;
        text-align: center;
        margin: 32px 0;
        @include ff-jp;
        @media screen and (min-width:920px){
            font-size: 2rem;
            margin: 64px 0;
        }
    }
}
#donation {
    display: block;
    padding-top: 80px;
    margin-top: -80px;
}