
@use "../global" as *;
@use "../object" as *;
@use "../../common/css/layout" as *;




#contact {
    .contents-area {
        max-width: 920px;
        margin: 0 auto;
        padding: 0 20px;
        tr {
            display: flex;
            flex-flow: column;
            margin-top: 16px;
          }
        input,textarea {
            width: 100%;
            box-sizing: border-box;
            font-size: 1.6rem;
            @media screen and (min-width:920px){
                font-size: 2rem;
            }
        }
        td {
            margin-top: 8px;
        }
        th {
            font-size: 1.3rem;
            @media screen and (min-width:920px){
                font-size: 1.6rem;
            }
        }
        .p-form {
            margin-top: 32px;
            .p-form__btnArea {
                margin-top: 32px;
                display: grid;
                
                @media screen and (min-width:768px){
                    place-items: center;
                }
            }
            .p-form__submit {
                position: relative;
                display: flex;
                height: 48px;
                justify-content: center;
                align-items: center;
                background-color: #88C4B4;
                color: #fff;
                transition: .3s;
                font-size: 1.3rem;
                border: none;
                border-radius: 10vw;
                @media screen and (min-width:768px){
                }
                &::after {
                    position: absolute;
                    content: "";
                    border-right: 1.5px solid #fff;
                    border-bottom: 1.5px solid #fff;
                    top: 51%;
                    display: block;
                    transform: translateY(-50%) rotate(-45deg);
                    transition: 0.3s;
                    width: 10px;
                    height: 10px;
                    right: 25px;
                }
                @media screen and (min-width:768px){
                    padding: 15px 60px 15px 25px;
                    font-size: 1.5rem;
                }
                @media screen and (min-width:920px){
                }
                &:hover {
                    color: #fff;
                    background-color: #54a37f;
                }
            }
        }
    }
    .requireLabel {
        color: red;
        margin-left: 4px;
    }
    .sub-description-area {
        @include description-area;
        li {
            &:not(:first-child) {
                border-top: dotted 2px #AED4CA;
                padding-top: 40px;
                @media screen and (min-width:920px){
                    padding-top: 64px;
                }
            }
        }
    }
    
}
#error {
    display: none;
}
.contact-lead {
    margin-top: 16px;
    @media screen and (min-width:920px){
        margin-top: 32px;
    }
}