
@use "../global" as *;
@use "../object" as *;
@use "../../common/css/layout" as *;
@use 'contact.scss';



#error {
    display: block;
    margin-top: 16px;
    @media screen and (min-width:920px){
        margin-top: 32px;
    }
    span {
        font-size: 1.3rem;
    }
}
.p-form {
    span.error {
        font-size: 1.3rem;
    }
}