
@use "../global" as *;
@use "../object" as *;
@use "../../common/css/layout" as *;
@use 'contact.scss';



.requireLabel {
    display: none;
}
td {
    font-size: 1.3rem;
    @media screen and (min-width:920px){
        font-size: 1.6rem;
    }
}