
@use "../global" as *;
@use "../object" as *;
@use "../../common/css/layout" as *;





#event-story-report {
    background-image: url(../images/event-program/bg-object.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position-y: top;
    padding-top: 150px;
    @media screen and (min-width:768px){
        background-size: 80%;
        background-position-x: right;
    }
    @media screen and (min-width:920px){
        background-size: 60%;
        background-position-x: right;
    }
    .contents-area {
        @include max-width-1200;
        padding: 20px 24px;
        ul {
            margin-top: 32px;
            .category-wrap {
                @media screen and (min-width:920px){
                    display: flex;
                    justify-content: space-between;
                    flex-flow: nowrap;
                }
            }
            li {
                margin-top: 24px;
                @media screen and (min-width:920px){
                    margin-top: 48px;
                    
                }
                a {
                    box-shadow: 0 0 8px #d8dddb;
                    display: block;
                    background-color: #fff;
                    transition: .3s;
                    &:hover{
                        box-shadow: 0 0 13px #c0c6c4;
                    }
                }
                h3 {
                    font-size: 1.6rem;
                    text-decoration: underline;
                    color: #000;
                    @media screen and (min-width:920px){
                        font-size: 2rem;
                    }
                }
                .img-wrap {
                    margin-top: 12px;
                    @media screen and (min-width:920px){
                        margin: 0;
                        width: 35%;
                    }
                }
                .text-wrap {
                    margin-top: 12px;
                    color: #000;
                    @media screen and (min-width:920px){
                        margin: 0;
                        width: 60%;
                        display: flex;
                        flex-flow: column;
                        justify-content: center;
                        padding-right: 5%;
                    }
                    p {
                        overflow: hidden;
                        display: -webkit-box;
                        -webkit-box-orient: vertical;
                        -webkit-line-clamp: 3;
                        @media screen and (min-width:920px){
                            margin: 0;
                        }
                    }
                }
            }
        }
    }
    h2 {
        font-size: 2rem;
        @include ff-jp;
        line-height: 1;
        @media screen and (min-width:920px){
            font-size: 2.3rem;
            margin-top: 64px;
        }
    }
    
    
}

