@charset "UTF-8";
@use "../global" as *;
@use "../object" as *;
@use "../../common/css/layout" as *;
@use '../object/project/secondHierarchy-area';





#personal-program {
    .contents-area {
        @include max-width-1200;
        margin: 0 auto;
        padding: 0 20px;
    }
    .sub-description-area {
        @include description-area;
        li {
            &:not(:first-child) {
                border-top: dotted 2px #AED4CA;
                padding-top: 40px;
                @media screen and (min-width:920px){
                    padding-top: 64px;
                }
            }
        }
    }
    .contents-inner {
        @media screen and (min-width:920px){
            display: flex;
            justify-content: space-between;
            width: 100%;
            margin-top: 64px;
        }
    }
    .dialogue-area {
        @media screen and (min-width:920px){
            margin-top: 120px;
        }
    }
    .price-box {
        @media screen and (min-width:920px){
            display: flex;
            flex-flow: nowrap;
            justify-content: space-between;
            width: 100%;
        }
        .price {
            padding: 24px 32px 0;
            @include fz-p();
            @media screen and (min-width:920px){
                padding: 0;
                margin-top: 32px;
            }
            span {
                color: #53b79d;
                @include fz-p();
            }
        }
        ul {
            li {
                text-decoration: underline;
                text-decoration-color: #AED4CA;
                text-underline-offset: 8px;
                margin-top: 12px;
              }
        }
    }
    .box {
        padding: 0;
        border: solid 1px #AED4CA;
        margin-top: 32px;
        @media screen and (min-width:920px){
            padding: 32px;
        }
        .text-box {
            padding: 32px 32px 0;
            @media screen and (min-width:920px){
                padding: 0;
            }
        }
        h4 {
            @include ff-jp;
            font-size: 2rem;
            line-height: 1.5;
    
            @media screen and (min-width:920px){
                font-size: 2.5rem;
            }
            span {
                color: #88C4B4;
                @include fz-p();
            }
        }
        .caption {
            @include fz-p();
        }
        
        .button-wrap {
            @media screen and (min-width:920px){
                margin: 0;
                display: flex;
                flex-flow: column-reverse;
            }
        }
    }
}

