
@use "../global" as *;
@use "../object" as *;
@use "../../common/css/layout" as *;
@use '../object/project/personal-program-area';




#personal-program {
    .contents-area {
        max-width: 1200px;
        margin: 0 auto;
        padding: 0 20px;
    }
    .sub-description-area {
        @include description-area;
        li {
            &:not(:first-child) {
                border-top: dotted 2px #AED4CA;
                padding-top: 40px;
                @media screen and (min-width:920px){
                    padding-top: 64px;
                }
            }
        }
    }
    .img-wrap {
        margin-top: 20px;
        display: flex;
        flex-flow: wrap;
        justify-content: space-between;
        li {
            width: 49%;
            @media screen and (min-width:920px){
                width: 24%;
            }
        }
        li:nth-child(n+3) {
            margin-top: 2%;
            @media screen and (min-width:920px){
                margin-top: 0;
            }
        }
    }
    .button-wrap {
        @include btn-read_more($base-margin:0);
        @media screen and (min-width:768px){
            @include btn-read_more($base-margin:inherit);
        }
    }
    .box {
        border: solid 1.3px #AED4CA;
        margin-top: 16px;
        @media screen and (min-width:768px){
            padding: 32px;
        }
        p {
            padding: 16px;
            @media screen and (min-width:768px){
                padding: 0;
            }
        }
      }
}
