@charset "UTF-8";
@use "../global" as *;
@use "../object" as *;
@use "../../common/css/layout" as *;
@use '../object/project/personal-program-area';





#personal-program {
    .contents-area {
        max-width: 1200px;
        margin: 0 auto;
        padding: 0 20px;
    }
    .sub-description-area {
        @include description-area;
        li {
            &:not(:first-child) {
                border-top: dotted 2px #AED4CA;
                padding-top: 40px;
                @media screen and (min-width:920px){
                    padding-top: 64px;
                }
            }
        }
    }
    .contents-inner {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }
}
