
@use "../global" as *;
@use "../object" as *;
@use "../../common/css/layout" as *;


#term-of-use {
    .contents-area {
        max-width: 1200px;
        margin: 0 auto;
        padding: 0 20px;
    }
    .sub-description-area {
        @include description-area;
        li {
            &:not(:first-child) {
                border-top: dotted 2px #AED4CA;
                margin-top: 40px;
                @media screen and (min-width:920px){
                    margin-top: 64px;
                }
            }
        }
    }
}

ul.term-of-use {
    li {
        margin-top: 40px;
        @media screen and (min-width:920px){
            margin-top: 64px;
        }
        h3 {
           font-size: 1.6rem; 
           @media screen and (min-width:920px){
                font-size: 2rem;
            }
        }
    }
}