@charset "UTF-8";
/* CSS Document */
/*************************************************************************************
                                        フッター
*************************************************************************************/
footer {
  text-align: center;
}
footer #footer-info {
  height: auto;
  width: auto;
  display: flex;
  flex-flow: column;
  align-items: center;
  position: relative;
  margin-bottom: 30px;
}
footer #footer-info a {
  height: 40px;
  width: auto;
  margin-bottom: 20px;
}
footer #footer-info a .site-logo {
  width: auto;
  height: 100%;
  object-fit: contain;
}
footer .copyright {
  position: relative;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding: 10px 0;
}

/*************************************************************************************
                                      　グローバル設定
*************************************************************************************/
html {
  overflow-x: hidden;
  height: calc(var(--vh) * 100);
  height: -webkit-fill-available;
}

img {
  width: 100%;
}

body {
  font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  color: #333;
  position: relative;
  min-height: 100vh;
  /* mobile viewport bug fix */
  min-height: -webkit-fill-available;
  -webkit-text-size-adjust: 100%;
}

body.fixed {
  position: fixed !important;
  bottom: 0;
  left: 0;
  width: 100%;
  min-height: calc(var(--vh) * 100);
  min-height: -webkit-fill-available;
  height: calc(var(--vh) * 100);
}
@media screen and (min-width: 920px) {
  body.fixed {
    position: relative !important;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

p {
  font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  font-size: 13px;
  font-size: 1.3rem;
  line-height: 2;
  letter-spacing: 0;
}
@media screen and (min-width: 768px) {
  p {
    font-size: 16px;
    font-size: 1.6rem;
    letter-spacing: 3px;
  }
}
@media screen and (min-width: 920px) {
  p {
    font-size: 18px;
    font-size: 1.8rem;
    letter-spacing: 3px;
  }
}

.Scroll-fade　, .Scroll-top　, .Scroll-bottom　, .Scroll-right　, .Scroll-left {
  transform: translate(0) scale(1) !important;
  opacity: 1 !important;
}

.sp {
  display: block;
}
@media screen and (min-width: 768px) {
  .sp {
    display: none;
  }
}

.tab {
  display: none;
}
@media screen and (min-width: 768px) {
  .tab {
    display: block;
  }
}

.pc {
  display: none;
}
@media screen and (min-width: 920px) {
  .pc {
    display: block;
  }
}

.pc2 {
  display: none;
}

/*************************************************************************************
                                        ヘッダー
*************************************************************************************/
header {
  position: fixed;
  height: 70px;
  width: 100%;
  background-color: #fff;
  z-index: 100;
  top: 0;
}
@media screen and (min-width: 920px) {
  header {
    position: fixed;
    height: 160px;
    width: 100%;
    background-color: #fff;
    z-index: 100;
    /*animation: StartAnime 1s forwards;*/
  }
}

@keyframes StartAnime {
  from {
    opacity: 0;
    transform: translateY(-100%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes UpAnime {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(-100%);
  }
}
@keyframes DownAnime {
  from {
    opacity: 0;
    transform: translateY(-100%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@media screen and (min-width: 920px) {
  header.Down {
    animation: StartAnime 1s forwards;
  }
}

@media screen and (min-width: 920px) {
  header.UpMove {
    position: fixed;
    animation: UpAnime 1s forwards;
    height: auto;
  }
}

@media screen and (min-width: 920px) {
  header.DownMove {
    position: fixed;
    width: 100%;
    animation: DownAnime 1s forwards;
    height: auto;
  }
}

#site_logo {
  height: 40px;
  width: auto;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  z-index: 2000;
  position: relative;
}
#site_logo a {
  height: 40px;
  width: auto;
}
#site_logo a .site-logo {
  width: auto;
  height: 100%;
  object-fit: contain;
}

#header-top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0;
  align-items: center;
  height: 70px;
  position: absolute;
  top: 0;
  width: 100%;
  background-color: #fff;
  z-index: 200;
}
@media screen and (min-width: 920px) {
  #header-top {
    height: 100px;
    position: relative;
  }
}

@media screen and (min-width: 920px) {
  header.min #header-top-left a .site-logo span {
    font-size: 12px;
    transform: translateX(-1.2rem);
    display: none;
  }
}
@media screen and (min-width: 920px) {
  header.min #header-top-left a .site-logo img {
    height: 30px;
  }
}
@media screen and (min-width: 920px) {
  header.min #header-top-right {
    margin-right: 30px;
    display: flex;
    flex-flow: row nowrap;
  }
}
@media screen and (min-width: 920px) {
  header.min #header-top {
    height: 60px;
  }
}
@media screen and (min-width: 920px) {
  header.min #global-navi ul#global-main li.main-navi {
    height: 40px;
  }
}
@media screen and (min-width: 920px) {
  header.min #global-navi ul#global-main li.main-navi:first-child {
    border-top: 0px solid rgb(0, 102, 75);
  }
}
@media screen and (min-width: 920px) {
  header.min #global-navi ul#global-main li.main-navi.sp {
    display: none;
  }
}

#header-top-left a {
  display: block;
  margin-left: 15px;
  position: relative;
}
@media screen and (min-width: 920px) {
  #header-top-left a {
    margin-left: 30px;
    color: #000;
    font-size: 14px;
    line-height: 1;
  }
}
#header-top-left a .site-logo img {
  height: 40px;
  width: auto;
}
@media screen and (min-width: 920px) {
  #header-top-left a .site-logo img {
    height: 50px;
  }
}
@media screen and (min-width: 920px) {
  #header-top-left a .site-logo span {
    display: inline-block;
    font-size: 14px;
    position: relative;
    transform: translateX(-2rem);
  }
}

#header-top-right {
  margin-right: 30px;
}
@media screen and (min-width: 920px) {
  #header-top-right {
    display: flex;
    flex-flow: column;
    align-items: flex-end;
  }
}

#sab-navi {
  display: none;
}
#sab-navi ul {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  margin-bottom: 10px;
}
#sab-navi ul li {
  margin-left: 30px;
  font-size: 13px;
  line-height: 1;
  padding-left: 1.3rem;
  position: relative;
}
@media screen and (min-width: 920px) {
  #sab-navi ul li::before {
    position: absolute;
    content: "";
    width: 6px;
    height: 6px;
    border-right: 1px solid #3B453E;
    border-bottom: 1px solid #3B453E;
    left: 0;
    top: 50%;
    display: block;
    transform: translateY(-50%) rotate(-45deg);
  }
}
@media screen and (min-width: 920px) {
  #sab-navi ul li:first-child {
    margin-left: 0px;
    font-size: 13px;
    line-height: 1;
  }
}
@media screen and (min-width: 920px) {
  #sab-navi ul li {
    margin-left: 15px;
  }
  #sab-navi ul li::before {
    position: absolute;
    content: "";
    width: 6px;
    height: 6px;
    border-right: 1px solid #0080c9;
    border-bottom: 1px solid #0080c9;
    left: 0;
    top: 50%;
    display: block;
    transform: translateY(-50%) rotate(-45deg);
  }
  #sab-navi ul li:first-child {
    margin-left: 0px;
    font-size: 13px;
    line-height: 1;
  }
}
@media screen and (min-width: 920px) {
  #sab-navi ul li a {
    color: #000;
  }
}
@media screen and (min-width: 920px) {
  #sab-navi {
    display: block;
  }
}

#toggle {
  display: block;
  width: 50px;
  height: 25px;
  cursor: pointer;
  position: fixed;
  top: 25px;
  right: 23px;
  z-index: 300;
}
@media screen and (min-width: 920px) {
  #toggle {
    display: none;
  }
}

@media screen and (min-width: 920px) {
  #main-navi-button {
    width: 30%;
    display: flex;
    flex-flow: column;
    justify-content: center;
  }
}

#toggle-inner {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  height: 100%;
}
#toggle-inner span {
  border-top: 3px solid #58685D;
}
#toggle-inner span:nth-child(1) {
  border-top: 2px solid #58685D;
  width: 100%;
  transition: transform 0.5s;
  transform-origin: top left;
  transform: rotate(0) translate(0, 0);
}
#toggle-inner span:nth-child(2) {
  border-top: 2px solid #58685D;
  width: 100%;
  transform: scale(1, 1);
  transition: transform 0.5s;
  transform-origin: center;
}
#toggle-inner span:nth-child(3) {
  border-top: 2px solid #58685D;
  width: 100%;
  transition: transform 0.5s;
  transform-origin: bottom left;
  transform: rotate(0) translate(0, 0);
}

#toggle.open #toggle-inner span:nth-child(1) {
  border-top: 2px solid #58685D;
  width: 95%;
  transition: transform 0.5s;
  transform-origin: top left;
  transform: rotate(32deg) translate(3px, -3px);
}
#toggle.open #toggle-inner span:nth-child(2) {
  border-top: 2px solid #58685D;
  width: 100%;
  transform: scale(0, 1);
  transition: transform 0.5s;
  transform-origin: center;
}
#toggle.open #toggle-inner span:nth-child(3) {
  border-top: 2px solid #58685D;
  width: 95%;
  transition: transform 0.5s;
  transform-origin: bottom left;
  transform: rotate(-32deg) translate(3px, 3px);
}

/*************************************************************************************
                                    global-navi
*************************************************************************************/
#global-navi {
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  margin: 0;
  list-style: none;
  position: fixed;
  z-index: 100;
  top: 0;
  right: -100%;
  overflow-x: visible;
  overflow-y: scroll;
  width: 100%;
  height: 100%;
  text-align: left;
  background: rgba(255, 255, 255, 0.9);
  transition: right 300ms linear;
}
@media screen and (min-width: 920px) {
  #global-navi {
    background-color: #0080c9;
    display: block;
    height: auto;
    position: relative;
    width: 100%;
    right: auto;
    transition: none;
    overflow-y: visible;
  }
}
#global-navi ul#global-main {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  align-items: center;
  height: auto;
  margin: 0;
  padding: 75px 28px 60px;
  list-style: none;
  width: calc(100% - 56px);
}
@media screen and (min-width: 920px) {
  #global-navi ul#global-main {
    flex-flow: row nowrap;
    justify-content: center;
    background-color: #0080c9;
    max-width: 920px;
    margin: 0 auto;
    height: auto;
    padding: 0;
    width: 100%;
  }
}
#global-navi ul#global-main li.main-navi {
  width: 100%;
  text-align: center;
  height: auto;
  position: relative;
  border-bottom: 1px solid #aed4ca;
  z-index: 3;
}
@media screen and (min-width: 920px) {
  #global-navi ul#global-main li.main-navi {
    width: 16.6666666667%;
    height: 60px;
    border-bottom: 0px solid rgb(0, 102, 75);
  }
}
#global-navi ul#global-main li.main-navi::before {
  content: none;
  display: block;
  height: 50%;
  width: 1px;
  left: 0;
  background-color: #fff;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
@media screen and (min-width: 920px) {
  #global-navi ul#global-main li.main-navi::before {
    content: "";
    display: block;
    z-index: 2;
  }
}
#global-navi ul#global-main li.main-navi:last-child::after {
  content: none;
  display: block;
  height: 50%;
  width: 1px;
  right: 0;
  background-color: #fff;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
@media screen and (min-width: 920px) {
  #global-navi ul#global-main li.main-navi:last-child::after {
    content: "";
    display: block;
    z-index: 2;
  }
}
#global-navi ul#global-main li.main-navi a {
  color: #fff;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 16px;
  height: 100%;
}
#global-navi ul#global-main li.main-navi a.main-navi-link {
  position: relative;
  display: block;
  padding: 20px 0;
  color: #58685D;
  font-weight: bold;
  height: auto;
  width: 200px;
  left: 0;
  text-align: left;
  font-size: 16px;
}
@media screen and (min-width: 920px) {
  #global-navi ul#global-main li.main-navi a.main-navi-link {
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    height: 100%;
    width: auto;
    padding: 0;
    font-weight: normal;
    transition: background 1s;
    background: transparent;
  }
}
@media screen and (min-width: 920px) {
  #global-navi ul#global-main li.main-navi a.main-navi-link:hover {
    background: #005598;
    transition: background 1s;
    opacity: 1;
  }
}
@media screen and (min-width: 920px) {
  #global-navi ul#global-main li.main-navi a.main-navi-link.active {
    background: #005598;
  }
}
@media screen and (min-width: 920px) {
  #global-navi ul#global-main li.main-navi:first-child {
    border-top: 0px solid rgb(0, 102, 75);
  }
}
@media screen and (min-width: 920px) {
  #global-navi ul#global-main li.main-navi:nth-child(3) {
    width: calc(16.6666666667% + 60px);
  }
}
@media screen and (min-width: 920px) {
  #global-navi ul#global-main li.main-navi:nth-child(4) {
    width: calc(16.6666666667% + 40px);
  }
}
@media screen and (min-width: 920px) {
  #global-navi ul#global-main li.main-navi ul.sab-nav {
    display: none;
    flex-flow: column;
    background-color: transparent;
    height: auto;
    margin: 0;
    list-style: none;
    top: 100%;
    position: absolute;
    padding: 20px 20px;
    width: 215px;
    z-index: 2;
    filter: drop-shadow(0px 5px 4px rgba(0, 0, 0, 0.4));
    left: 0;
    transform: translateX(0);
    transition: none;
  }
}
@media screen and (min-width: 920px) {
  #global-navi ul#global-main li.main-navi.sp {
    display: none;
  }
}
#global-navi ul#global-main li.main-navi.parent div {
  position: absolute;
  margin: 0;
  z-index: 100;
  display: block;
  right: 5px;
  top: 22px;
  transition: top 0.5s;
}
@media screen and (min-width: 920px) {
  #global-navi ul#global-main li.main-navi.parent div {
    display: none;
  }
}
#global-navi ul#global-main li.main-navi.parent div span {
  position: relative;
  background-color: transparent;
  content: "";
  cursor: pointer;
  transform: rotate(45deg);
  transform-origin: center;
  width: 12px;
  height: 12px;
  border-bottom: 1px solid #aed4ca;
  border-right: 1px solid #aed4ca;
  display: block;
  transition: transform 0.5s;
}
#global-navi ul#global-main li.main-navi.parent div.open {
  top: 30px;
  transition: top 0.5s;
}
#global-navi ul#global-main li.main-navi.parent div.open span {
  transform: rotate(-135deg);
  transform-origin: center;
  transition: transform 0.5s;
}
#global-navi ul#global-main li ul.sab-nav {
  height: auto;
  margin: 0;
  list-style: none;
  position: relative;
  padding: 0px 0px 20px;
  background-color: transparent;
  z-index: 2;
  width: 100%;
}
#global-navi ul#global-main li ul.sab-nav::before {
  content: none;
  background-color: transparent;
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0.9;
  left: 0;
  top: 0;
}
#global-navi ul#global-main li ul.sab-nav li {
  height: auto;
  width: 100%;
  position: relative;
  padding: 8px 0 8px 15px;
  z-index: 0;
  opacity: 0;
  transition: opacity 1s;
}
@media screen and (min-width: 920px) {
  #global-navi ul#global-main li ul.sab-nav li {
    opacity: 1;
    transition: none;
  }
}
#global-navi ul#global-main li ul.sab-nav li::before {
  content: "";
  position: absolute;
  left: 2px;
  display: block;
  z-index: 10;
  width: 6px;
  height: 6px;
  border-right: 1px solid #aed4ca;
  border-bottom: 1px solid #aed4ca;
  right: 15px;
  top: 50%;
  transform: translateY(-50%) rotate(-45deg);
}
#global-navi ul#global-main li ul.sab-nav li a {
  color: #71aa9b;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  font-size: 16px;
  height: 100%;
}
@media screen and (min-width: 920px) {
  #global-navi ul#global-main li ul.sab-nav li a {
    font-size: 14px;
    text-align: left;
  }
}
#global-navi ul#global-main li ul.sab-nav li.grandchild {
  height: auto;
  width: calc(100% - 15px);
  position: relative;
  padding: 10px 0 8px 15px;
  z-index: 0;
}
#global-navi ul#global-main li ul.sab-nav li.grandchild::before {
  content: "";
  position: absolute;
  left: 2px;
  display: block;
  z-index: 10;
  width: 6px;
  height: 6px;
  border-right: 1px solid #aed4ca;
  border-bottom: 1px solid #aed4ca;
  right: 15px;
  top: 22px;
  transform: translateY(-50%) rotate(-45deg);
}
#global-navi ul#global-main li ul.sab-nav li.grandchild ul {
  margin-top: 10px;
  position: relative;
  transform: translateX(-5px);
}
#global-navi ul#global-main li ul.sab-nav.open {
  height: auto;
  margin: 0;
  list-style: none;
  top: 0;
  position: relative;
  padding: 0px 0px 20px;
  background-color: transparent;
  z-index: 2;
  width: 100%;
}
#global-navi ul#global-main li ul.sab-nav.open li {
  opacity: 1;
  transition: opacity 1s;
}
@media screen and (min-width: 920px) {
  #global-navi ul#global-main li .sab-nav::before {
    background-color: #fff;
    content: "";
  }
}
#global-navi ul#global-main.open {
  height: auto;
}

#global-navi.open {
  right: 0;
  transition: right 300ms linear, background 1s;
  overflow-x: hidden;
  background: #fff;
}
@media screen and (min-width: 920px) {
  #global-navi.open {
    background-color: #0080c9;
    right: auto;
    transition: none;
    overflow: visible;
  }
}

@media screen and (min-width: 920px) {
  #global-navi.open.white {
    background-color: #0080c9;
    transition: none;
  }
}

.global-navi-cta {
  display: block;
  padding-bottom: 60px;
}
@media screen and (min-width: 920px) {
  .global-navi-cta {
    display: none;
  }
}

@media screen and (min-width: 920px) {
  main {
    padding: 160px 0 100px;
  }
}

/*************************************************************************************
                                      リセット設定
*************************************************************************************/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, ins, kbd, q, s, samp, strike, strong, sub, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
  border: 0;
  font-style: inherit;
  font-weight: inherit;
  margin: 0;
  outline: 0;
  padding: 0;
  vertical-align: baseline;
}

small {
  letter-spacing: 0;
}

sup {
  letter-spacing: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
nav,
section {
  display: block;
  margin: 0 auto;
  padding: 0;
}

ol,
ul {
  list-style: none;
}

table {
  border-collapse: separate;
  border-spacing: 0;
  table-layout: fixed;
  width: 100%;
}

caption,
th,
td {
  font-weight: normal;
  text-align: left;
}

fieldset {
  min-width: inherit;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
}

blockquote,
q {
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
  quotes: none;
}

a:hover,
a:active {
  outline: 0;
}

a:hover {
  text-decoration: underline;
}

a:visited {
  text-decoration: none;
}

a:active {
  text-decoration: underline;
}

a:link {
  text-decoration: none;
}

a img {
  border: 0;
  vertical-align: bottom;
}

.social-navigation a:before,
.secondary-toggle:before,
.dropdown-toggle:after,
.bypostauthor > article .fn:after,
.comment-reply-title small a:before,
.comment-navigation .nav-next a:after,
.comment-navigation .nav-previous a:before,
.byline:before,
.cat-links:before,
.tags-links:before,
.comments-link:before,
.entry-format:before,
.edit-link:before,
.full-size-link:before,
.pagination .prev:before,
.pagination .next:before,
.image-navigation a:before,
.image-navigation a:after,
.format-link .entry-title a:after,
.entry-content .more-link:after,
.entry-summary .more-link:after,
.author-link:after {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-family: "Genericons";
  font-size: 16px;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-align: center;
  text-decoration: inherit;
  text-transform: none;
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

p {
  margin: 0 auto;
  padding: 0;
}

b,
strong {
  font-weight: bold;
  letter-spacing: 2px;
}

input[type=submit] {
  border-radius: 0;
}/*# sourceMappingURL=style.css.map */