$ff-serif: '游明朝体', 'Yu Mincho', 'YuMincho', 'Hiragino Mincho Pro', 'ヒラギノ明朝 ProN', 'ヒラギノ明朝 Pro', 'MS P明朝', 'MS PMincho', 'Noto Serif JP', serif;

$fz-root: 10px;

// font-weight
$fw-ultraLight: 100;
$fw-extraLight: 200;
$fw-light: 300;
$fw-semiLight: 400;
$fw-regular: $fw-semiLight;
$fw-medium: 500;
$fw-semiBold: 600;
$fw-bold: 700;
$fw-extraBold: 800;
$fw-heavy: 900;
$fw-black: $fw-heavy;

$fw-base: $fw-regular;