@use "../../global" as *;
@use "../../object" as *;
@use "../../../common/css/layout" as *;



.price-box {
    @media screen and (min-width:920px){
        display: flex;
        flex-flow: nowrap;
        justify-content: space-between;
        width: 100%;
    }
    .price {
        padding: 24px 32px 0;
        @include fz-p();
        @media screen and (min-width:920px){
            padding: 0;
            margin-top: 32px;
        }
        span {
            color: #53b79d;
            @include fz-p();
        }
    }
    ul {
        li {
            text-decoration: underline;
            text-decoration-color: #AED4CA;
            text-underline-offset: 8px;
            margin-top: 12px;
          }
    }
}
.text-wrap {
    h3 {
        margin-top: 16px;
        line-height: 1.5;
        @media screen and (min-width:920px){
            margin: 0;
        }
    }
    p {
        margin-top: 8px;
    }
}
.button-wrap {
    @media screen and (min-width:920px){
        margin: 32px;
    }
  }
  
.contents-inner {
    .img-wrap {
        @media screen and (min-width:920px){
            width: 40%;
        }
    }
    .text-wrap {
        @media screen and (min-width:920px){
            width: 54%;
        }
    }
    h3 {
        @include ff-jp();
        font-size: 23px;
        position: relative;
        @media screen and (min-width:920px){
            font-size: 28px;
        }
        &::before {
            position: absolute;
            content: '';
            display: block;
            background-repeat: no-repeat;
            background-image: url(../../../common/images/ornament01.png);
            width: 25px;
            height: auto;
            top: 0;
            left: 0;
        }
    }
}

ul.right-img-box {
    margin-top: 32px;
    @media screen and (min-width:920px){
        margin: 0;
    }
    li {
        &:not(:first-child) {
            margin-top: 12px;
            @media screen and (min-width:920px){
                margin-top: 24px;
            }
        }
    }
}

ul.green-back {
    h4 {
        position: relative;
        &::before {
            position: absolute;
            content: '';
            background-image: url(../../../common/images/ornament02.png);
            background-repeat: no-repeat;
            width: 30px;
            height: auto;
            top: 0;
            left: 0;
        }
    }
}

ul.black-point {
    li {

    }
    .point-none {
        display: none;
    }
}
.bg-green {
    background: #E2FDF6;
    padding: 40px 32px;
    margin-top: 32px;
    @media screen and (min-width:920px){
        padding: 64px 40px;
        margin-top: 64px;
    }
}