@charset "UTF-8";
/*************************************************************************************
                                      　グローバル設定
*************************************************************************************/
html{
	font-size: 62.5%;
	margin: 0;
	height: auto;
    font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
    height: calc( var(--vh) * 100 );
    height: -webkit-fill-available;
}
body{
    height: 100vh;
    width: 100%;
    position: relative;
    margin: 0;
    padding: 0;
    height: calc( var(--vh) * 100 );
    height: -webkit-fill-available;
}
body.fixed {
    position: fixed;
    @media screen and (min-width:960px){
        position: relative; 
    }
}
.logo {
        text-align: center;
        max-width: 600px;
        margin: 0 auto;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
        width: 80%;
}
// main{
//     @media screen and (min-width:960px){
//         padding-top: 80px;   
//     }
// }
.sp{
    display: block;
    @media screen and (min-width:768px){
        display: none;
    }
    @media screen and (min-width:960px){
    }
}
.sp-tab{
    display: block;
    @media screen and (min-width:960px){
        display: none;    
    }
}
.tab{
    display: none;
    @media screen and (min-width:768px){
        display: block;
    }
    @media screen and (min-width:960px){
        display: none;    
    }
}
.pc{
    display: none;
    @media screen and (min-width:960px){  
        display: block; 
    }
    @media screen and (min-width:1280px){   
       
    }
}
.pc2 {
    display: none;
    @media screen and (min-width:768px){
    }
    @media screen and (min-width:920px){
    }
    @media screen and (min-width:1280px){   
        display: block;
    }
}
.br01 {
    display: block;
    @media screen and (min-width:960px){  
        display: none; 
    }
    @media screen and (min-width:1280px){   
       display: block;
    }
}
.br02 {
    display: block;
    @media screen and (min-width:1280px){
        display: none;    
    }
}