/*************************************************************************************
                                        フッター
*************************************************************************************/
footer {
    text-align: center;
  #footer-info {
    height: auto;
    width: auto;
    display: flex;
    flex-flow: column;
    align-items: center;
    position: relative;
    margin-bottom: 30px;
    a{
        height: 40px;
        width: auto;
        margin-bottom: 20px;
        .site-logo {
            width: auto;
            height: 100%;
            object-fit: contain;
        }
    }
    h3{
        // font-size: 1.6rem;
        // @media screen and (min-width:768px){
        //     font-size: 1.8rem;
        // }
    }
    p{
        // font-size: 1.4em;
        // @media screen and (min-width:768px){
        //     font-size: 1.6rem;
        // }
    }
    }
    .copyright {
        position: relative;
        bottom: 0;
        width: 100%;
        text-align: center;
        padding: 10px 0;
        // font-size: 1.2rem;
        // @media screen and (min-width:768px){
        //     font-size: 1.4rem;
        // }
    }
}
