@charset "UTF-8";
/*************************************************************************************
                                      　main
*************************************************************************************/
@use '../layout/mixin';


.breadcrumbs-area {
    margin: 15px 15px 0;
    .breadcrumbs-list {
        font-size: 1.2rem;
        display: flex;
        flex-flow: wrap;
        @media screen and (min-width:768px){
            font-size: 1.3rem;
        }
        .link {
            a {
            color: #73C0A5;
            transition: .3s;
                &:hover {
                    opacity: 0.8;
                }
            }
        }
        li {
            &:nth-child(n+2){
                &::before {
                    content: "＞";
                    margin: 0 10px 0;
                  }
            }
        }
      }
}

.lead-area {
    padding: 0 15px;
    max-width: 1210px;
    margin: 50px auto 0;
    @media screen and (min-width:768px){
    }
    @media screen and (min-width:920px){
    }
    .en {
        @include mixin.ff-en;
        font-size: 1.5rem;
        color: #73C0A5;
        margin-bottom: 5px;
        @media screen and (min-width:768px){
            font-size: 2rem;
        }
    }
    .jp {
        @include mixin.ff-jp;
        font-size: 2.8rem;
        line-height: 1;
        margin-bottom: 10px;
        @media screen and (min-width:768px){
            font-size: 3.3rem;
        }
    }
    .sentence {
        @include mixin.ff-jp();
    }
}
.contents-area {
    margin-top: 50px;
    @media screen and (min-width:920px){
       margin-top: 100px;
    }
}