@charset "UTF-8";
/*************************************************************************************
                                      　main
*************************************************************************************/
@mixin ff-jp {
    font-family: YuMincho, "Yu Mincho", "Hiragino Mincho ProN", serif;
}
@mixin ff-en {
    font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}
.breadcrumbs-area {
    margin: 15px 15px 0;
    .breadcrumbs-list {
        font-size: 1.2rem;
        display: flex;
        flex-flow: wrap;
        @media screen and (min-width:768px){
            font-size: 1.3rem;
        }
        .link {
            a {
            color: #73C0A5;
            transition: .3s;
                &:hover {
                    opacity: 0.8;
                }
            }
        }
        li {
            &:nth-child(n+2){
                &::before {
                    content: "＞";
                    margin: 0 10px 0;
                  }
            }
        }
      }
}

.lead-area {
    padding: 30px 15px 0;
    max-width: 1180px;
    margin: 0 auto;
    @media screen and (min-width:768px){
    }
    @media screen and (min-width:960px){
        padding-top: 100px;
    }
    .en {
        @include ff-en;
        font-size: 1.5rem;
        color: #73C0A5;
        margin-bottom: 5px;
        @media screen and (min-width:768px){
            font-size: 2rem;
        }
    }
    .jp {
        @include ff-jp;
        font-size: 2.8rem;
        line-height: 1;
        margin-bottom: 10px;
        @media screen and (min-width:768px){
            font-size: 3.3rem;
        }
    }
    .sentence {
        @include ff-jp();
    }
}
.contents-area {
    margin-top: 50px;
    @media screen and (min-width:960px){
       margin-top: 100px;
    }
}