

@mixin btn-read_more {
    display: flex;
    flex-flow: row-reverse;
    margin-top: 20px;
    @media screen and (min-width:768px){
    }
    @media screen and (min-width:920px){
        margin-top: 30px;
    }
    a {
        position: relative;
        padding: 10px 45px 10px 30px;
        border-radius: 100px;
        border: solid 1px #54a37f;
        background-color: #fff;
        color: #54a37f;
        transition: .3s;
        font-size: 1.3rem;
        &:hover::after {
            border-right: 1.5px solid #fff;
            border-bottom: 1.5px solid #fff;
        }
        &::after {
            position: absolute;
            content: "";
            border-right: 1.5px solid #54a37f;
            border-bottom: 1.5px solid #54a37f;
            top: 51%;
            display: block;
            transform: translateY(-50%) rotate(-45deg);
            transition: 0.3s;
            width: 10px;
            height: 10px;
            right: 25px;
        }
        @media screen and (min-width:768px){
            padding: 15px 45px 15px 40px;
            font-size: 1.5rem;
        }
        @media screen and (min-width:920px){
        }
        &:hover {
            color: #fff;
            background-color: #54a37f;
        }
    }
}