// レイアウト幅
$layout-width-canvas: 1440px;
$layout-width-container: 1140px;
$layout-width-vw: $layout-width-container;
$layout-sp-vw: 767px;

//ブレイクポイント
$breakpoints: (
  sm: 600,
  md: 768,
  lg: 1024,
  xl: 1280,
  xxl: 1400,
);

//メディアクエリー
$mediaquerys: (
  sm: "screen and (min-width: #{map-get($breakpoints,'sm')}px)",
  under-md: "screen and (max-width: #{map-get($breakpoints,'md') - 1}px)",
  only-md: "screen and (min-width: #{map-get($breakpoints,'md') + 1}px) and (max-width: #{map-get($breakpoints,'lg') - 1}px)",
  md: "screen and (min-width: #{map-get($breakpoints,'md')}px)",
  lg: "screen and (min-width: #{map-get($breakpoints,'lg')}px)",
  xl: "screen and (min-width: #{map-get($breakpoints,'xl')}px)",
  xxl: "screen and (min-width: #{map-get($breakpoints,'xl')}px)",
);

// ヘッダー高さ
$header-height: 80px;
$header-height-sp: 60px;

// z-index の指定
$layer: (
  loading: 999,
  modal: 100,
  drawer: 40,
  floating: 30,
  header: 20,
  footer: 10,
  default: 1,
);

// 余白
$pd-tab: 30px;
$pd-sp: 20px;
